# Rust
/target
**/*.rs.bk
Cargo.lock.bak

# WASM build output
/crates/pincel-wasm/pkg

# Node / UI
/ui/node_modules
/ui/.svelte-kit
/ui/build
/ui/dist
/ui/.vite
node_modules

# Website
/website/node_modules
/website/.svelte-kit
/website/build
/website/.vite

# Tauri
/src-tauri/target
/src-tauri/gen

# Editor / OS
.DS_Store
Thumbs.db
*.swp
*.swo
.idea
.vscode
!.vscode/settings.json
!.vscode/extensions.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
